.footer {
	padding: 30px 0;
	background-color: #3D4050;
	font-size: 13px;
	line-height: 16px;
	color: $color-white;

	&__row { // .footer__row
		display: flex;
		align-items: center;
		margin: 0 -40px;
	}

	&__group { // .footer__group
		flex-grow: 1;
		display: flex;
		column-gap: 40px;
		padding: 0 40px;
		justify-content: space-around;

		&--payment { // .footer__group--payment
			position: relative;
			color: #C3C3C3;

			&::before,
			&::after {
				position: absolute;
				top: 50%;
				width: 1px;
				height: 18px;
				background-color: $color-white;
				transform: translateY(-50%);
				content: "";
			}

			&::before {
				left: 0;
			}

			&::after {
				right: 0;
			}
		}
	}

	&__elem { // .footer__elem
		display: flex;
		align-items: center;
		@at-root {
			a#{&} {
				transition: color $transition-default;

				&:hover {
					color: $color-blue;
				}
			}
		}

	}

	&__elem-icon { // .footer__elem-icon
		width: 22px;
		height: 22px;
		margin-right: 10px;
	}
}
