.section-hero {
	padding-top: 125px;
	padding-bottom: 40px;
	background-image: url('../images/hero-bg.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;

	@media (min-width: $breakpoint-tablet) {
		padding-top: 160px;
		padding-bottom: 160px;
	}

	@media (min-width: $breakpoint-desktop) {
		padding-top: 204px;
		padding-bottom: 203px;
	}


	&__content { // .section-hero__content
		max-width: 800px;
	}

	&__title { // .section-hero__title
		margin-bottom: 40px;

		@media (min-width: $breakpoint-tablet) {
			margin-bottom: 60px;
		}
		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 88px;
		}
	}

	&__text { // .section-hero__text
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 22px;
		font-weight: 700;

		@media (min-width: $breakpoint-tablet) {
			font-size: 20px;
			line-height: 24px;}
	}

	&__list { // .section-hero__list
		margin-bottom: 40px;
		font-size: 18px;
		line-height: 24px;
		list-style-type: none;

		@media (min-width: $breakpoint-tablet) {
			margin-bottom: 60px;
			font-size: 20px;
			line-height: 24px;
		}
		@media (min-width: $breakpoint-desktop) {
			margin-bottom: 80px;
		}
	}

	&__list-elem { // .section-hero__list-elem
		position: relative;
		margin-bottom: 5px;
		padding-left: 25px;

		&::before {
			position: absolute;
			top: 11px;
			left: 9px;
			width: 5px;
			height: .075em;
			background-color: currentColor;
			content: "";
		}
	}

	&__buttons-box { // .section-hero__buttons-box
		@media (min-width: $breakpoint-tablet) {
			display: flex;
			column-gap: 30px;
		}
	}

	&__button { // .section-hero__button
		width: 100%;
		margin-bottom: 20px;

		@media (min-width: $breakpoint-tablet) {
			max-width: 183px;
			margin-bottom: 0;
		}
	}
}
