.input {
	padding: 12px 10px;
	background-color: rgba($color-white, .85);
	border: 1px solid $color-white;
	border-radius: 3px;
	font-size: 18px;
	line-height: 22px;
	color: #272733;
	transition: background-color $transition-default, border-color $transition-default, color $transition-default;

	&::placeholder {
		color: #272733;
	}

	&:focus,
	&--active { // .input--active
		outline: none;
		background-color: rgba(#3D4050, .85);
		border-color: rgba(#3D4050, .85);
		color: $color-white;

		&::placeholder {
			color: $color-white;
		}
	}
}
