*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-width: $min-width;
	font-family: $font-primary;
	color: $color-black;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

input, button {
	font-family: inherit;
}
