$min-width: 320px;

// Colors
$color-black: #000;
$color-white: #fff;
$color-blue: #3E9CDC;
$color-blue-light: #43ABF0;
$color-blue-dark: #286690;
$color-transparent: rgba(#000, 0);

// Fonts
$font-primary: "Lato", sans-serif;

// Transitions
$transition-default: .2s ease;

// Breakpoints
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 640px;
