// Colors
$color-black: #000;
$color-white: #fff;
$color-blue: #3E9CDC;
$color-blue-light: #43ABF0;
$color-blue-dark: #286690;

// Fonts
$font-primary: "Lato", sans-serif;

// Transitions
$transition-default: .2s ease;

// Breakpoints
$desktop: 1025;
$desktop-xl: 1800;
$laptop: 1440;
$tablet: 768;
$mobile: 320;
$desktop-vh: 750;
